#resume {
	hr {
		border: 0;
		border-bottom: solid 1px _palette(border);
		margin: 1em 0;

		&.major {
			margin: (_size(element-margin) * 1.5) 0;
		}
	}

    dl {
		margin: 0em;

		dt {
			display: block;
			font-weight: _font(weight-bold);
			margin: 0em;
		}

		dd {
			margin-left: _size(element-margin);
		}
	}

    h2, h4 {
        margin: 0em;
    }

    h3 {
        margin: 1em 0 0 0;
    }

    p {
        margin: 0em;
    }
}